@model IEnumerable<dnorwoodBugTracker.Models.CodeFirst.Project>

<div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            @*<a href="#">Dashboard</a>*@
        </li>
        <li>Dashboard</li>
    </ol>
    <!-- Example DataTables Card-->
    @if (User.IsInRole("Admin, Project Manager"))
    {
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
    }
    <div class="card mb-3">
        <div class="card-header">
            <i class="fa fa-table"></i>Projects
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="myDataTable" style="width: 100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Start Date</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Author of Project</th>
                            <th>Assigned Users</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Start Date</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Author of Project</th>
                            <th>Assigned Users</th>
                            <th>Action</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td>
                                @(item.Created.LocalDateTime)
                            </td>
                            <td>
                                @(item.Title)
                            </td>
                            <td>
                                @(item.Description)
                            </td>
                            <td>
                                @(item.AuthorId)
                            </td>
                            <td>
                                @foreach (var user in item.Users)
                                {
                                    @user.FullName<br />
                                }
                            </td>

                            <td>
                                @if (User.IsInRole("Admin") || User.IsInRole("Project Manager"))

                                {
                                    @Html.ActionLink("Assigned Roles", "Index", "Admin")<br />
                                    @Html.ActionLink("Assigned Users", "ProjectAssign", new { id = item.Id })<br />
                                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) <br />
                                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                }
                                           
                                @Html.ActionLink("Details", "Details", new { id = item.Id }) <br />
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- Page level plugin JavaScript-->
    <script src="~/assets/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/assets/vendor/datatables/dataTables.bootstrap4.js"></script>
    <script>
        $(document).ready(function () {
            $('#myDataTable').DataTable();
        });
    </script>
}


